.checkbox-custom.checkbox-custom.checkbox-custom {
	display: flex;
	vertical-align: top;
	align-items: center;
	cursor: pointer;
	transition-duration: 300ms;
	padding: 0 20px;
}

.checkbox-custom.checkbox-custom.checkbox-custom:hover {
	opacity: 0.7;
}

.checkbox-custom__input {
	display: none;
}

.checkbox-custom__input:checked ~ .checkbox-custom__icon::after {
	opacity: 1;
}

.checkbox-custom__icon {
	position: relative;
	box-sizing: border-box;
	width: 20px;
	height: 20px;
	margin-right: 12px;
	border: 2px solid #f29725;
	border-radius: 2px;
}

.checkbox-custom__icon::after {
	content: '';
	position: absolute;
	top: 4px;
	left: 2px;
	display: block;
	width: 10px;
	height: 4px;
	border-bottom: 2px solid #f29725;
	border-left: 2px solid #f29725;
	opacity: 0;
	transition-duration: 300ms;
	transform: rotate(-45deg);
}
.checkbox-custom__text.checkbox-custom__text.checkbox-custom__text{
	padding: 0;
}